body {
    margin: 0;
}

ul.adminnav {
    list-style-position: inside;
    border: solid 2px #fff;
    border-radius: 25px;  
    width: 80%;
    background-color:#555; 
    overflow: hidden; 
    text-align:center; 
    margin-left: auto;
    margin-right: auto;
    padding: 10px;     
}

li a {
    display: block;
    color: #fff;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    padding: 20px;    
}

 